<%- include('parts/header') %>
<%- include('parts/navbar') %>

<!-- <div class="row">
    <input type="hidden" id="chatId" value="<%= chatId %>">
    <div class="col col-12 col-md-3">
        <img src="/<%= friendData.image %>"> <br>
        <a href="/profile/<%= friendData.id %>"><%= friendData.username%></a>
    </div>
    <div class="col col-12 col-md-9 messages">
        <div id="messages-container">
            <% for (let message of messages) { %>
                <span><%= message.content %></span>
            <% } %>
        </div>
        <div class="messages-form">
            <textarea name="" id="message"></textarea>
            <button id="sendBtn">Send</button>
        </div>
    </div>
</div> -->
<input type="hidden" id="chatId" value="<%= chatId %>">

<section style="background-color: #eee;">
    <div class="container py-5 h-100 ">

        <div class="row">

            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <input type="hidden" id="chatId" value="<%= chatId %>">
                <input type="hidden" id="friendDataId" value="<%= friendData.id %>">
                <input type="hidden" id="friendDataImage" value="<%= friendData.image %>">
                <input type="hidden" id="friendDataName" value="<%= friendData.username %>">
                <input type="hidden" id="myDataId" value="<%= myData.id %>">
                <input type="hidden" id="myDataImage" value="<%= myData.image %>">
                <input type="hidden" id="myDataName" value="<%= myData.username %>">

                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>

                <div class="card">
                    
                    <div class="card-body">

                        <ul class="list-unstyled mb-0" >
                            <!-- <li class="p-2 border-bottom" style="background-color: #eee;">
                                <a href="/profile/<%= friendData.id %>" class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img src="/<%= friendData.image %>"
                                            alt="avatar"
                                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                                            width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0"><%= friendData.username %></p>
                                            <p class="small text-muted" id="last-msg">
                                                <% if (messages.length === 0) { %>
                                                    No messages
                                                <% } else { %>
                                                    <%= messages.at(-1).content %>
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pt-1" id="last-msg-time">
                                        <p class="small text-muted mb-1">
                                            <% if (messages.length===0) { %>
                                                No messages
                                            <% } else { %>
                                                <%= messages.at(-1).timestamp %>
                                            <% } %>
                                            
                                        </p>
                                        
                                    </div>
                                </a>
                            </li> -->
                            <% for (let chat of chats) { %>
                                <% for (let user of chat.users) { %>
                                    <% if (user.id != myData.id) { %>

                                        <li class="p-2 border-bottom" style="background-color: #eee;">
                                            <a href="/profile/<%= user.id %>" class="d-flex justify-content-between">
                                                <div class="d-flex flex-row">
                                                    <img src="/<%= user.image %>" alt="avatar"
                                                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                                    <div class="pt-1">
                                                        <p class="fw-bold mb-0">
                                                            <%= user.username %>
                                                        </p>
                                                        <p class="small text-muted" id="last-msg">
                                                            <% if (messages.length===0) { %>
                                                                No messages
                                                            <% } else { %>
                                                                <%= messages.at(-1).content %>
                                                            <% } %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="pt-1" id="last-msg-time">
                                                    <p class="small text-muted mb-1">
                                                        <% if (messages.length===0) { %>
                                                            No messages
                                                        <% } else { %>
                                                            <%= messages.at(-1).timestamp %>
                                                        <% } %>
                                        
                                                    </p>
                                                    <!-- <span class="badge bg-danger float-end">1</span> -->
                                                </div>
                                            </a>
                                        </li>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h5 class="mb-0">Chat</h5>
                    <button type="button" class="btn btn-primary btn-sm" id="callBtn" data-mdb-ripple-color="dark">
                        <i class="fa fa-video-camera"></i>
                        Video Call
                    </button>
                </div>

                <ul class="list-unstyled chatHeight" id="messages-list" style="overflow-y: scroll;">
                    <% for (let message of messages) { %>
                        <% if (message.sender === friendData.id) { %>
                            <li class="d-flex justify-content-between mb-4">
                                <img src="/<%= friendData.image %>" alt="avatar"
                                    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                                <div class="card w-100">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">
                                            <%= friendData.username %>
                                        </p>
                                        <p class="text-muted small mb-0"><i class="far fa-clock"></i>
                                            <%= message.timestamp %>
                                        </p>
                                    </div>
                                    <div class="card-body" id="messages-container">
                                                
                                        <p class="mb-0"></p>
                                            <%= message.content %>
                                        </p>
                        
                                    </div>
                                </div>
                            </li>
                        <% } else { %>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card w-100">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">
                                            <%= myData.username %>
                                        </p>
                                        <p class="text-muted small mb-0"><i class="far fa-clock"></i>
                                            <%= message.timestamp %>
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        
                                        <p class="mb-0"></p>
                                            <%= message.content %>
                                        </p>
                                                    
                                    </div>
                                </div>
                                <img src="/<%= myData.image %>" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong"
                                    width="60">
                            </li>
                        <% } %>
                    <% } %>
            
                </ul>
                <!-- <li class="bg-white mb-3">
                </li> -->
                <div class="form-outline">
                    <textarea class="form-control" id="message" rows="4"></textarea>
                    <label class="form-label" for="message">Message</label>
                </div>
                <button type="button" id="sendBtn" class="btn btn-info btn-rounded float-end">Send</button>

            </div>

        </div>

    </div>
</section>


<%- include('parts/scripts') %>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/chat.js"></script>




</body>

</html>